:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Cormorant Garamond", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--font-family), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #fff;
}

@media (min-width: 428px) {
    html {
        font: 400 10px var(--font-family), sans-serif;
    }
}

body {
    background: #152241;
    max-width: 428px;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 143%;
}

h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
    text-transform: uppercase;
}

section {
    padding-top: 8rem;
}

.container {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    margin: 0 auto;
}

.full-width {
    margin-left: -4.6rem;
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    width: calc(100% + 9.2rem);
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 100%;
}

.subtitle {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 143%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #5885fa;
    margin-bottom: 2rem;
}

.btn-link {
    display: inline-block;
    width: 100%;
    /* height: 9.5rem; */
    margin: 0 auto;
}

.btn {
    border: 2px solid #fffcfc;
    border-radius: 150px;
    height: 8.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
    font-weight: 600;
    background: #152241;
}

.btn1 {
    margin: 1rem 0 7.2rem 0;
}

.underline {
    text-decoration-line: underline !important;
    display: inline-block;
}

.bold {
    font-weight: 600;
}